@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Quicksand:wght@500;700&display=swap');

* {
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
    --text-color: #fff;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

article {
    min-height: 100vh;
    padding: 100px 9% 20px;
}

/*------------- Header ------------ */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    padding: 20px 9%;
    background-color: var(--bg-color);
}

span {
    color: var(--main-color);
}

.logo {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    margin-left: 40px;
    font-size: 17px;
    color: var(--text-color);
    transition: .3s;
}

.navbar a:hover {
    color: var(--main-color);
}

/*------- Resume --------*/

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

.heading {
    font-size: 45px;
    text-align: center;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

.card{
    box-shadow: 0 4px 8px 0 var(--main-color);
    border-radius: 5px;

    padding: 20px;
}

article {
    text-align: justify;
}

article p {
    padding: 15px 0 5px ;
    font-size: 20px;
}

/* ===============================  Footer  ============================ */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 9%;
    background-color: var(--second-bg-color);
}

.footer-text p {
    font-size: 16px;
}

.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icontop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icontop a i {
    font-size: 24px;
    color: var(--second-bg-color);
}